In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [4]:
df['spam'] = df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam,  test_size=0.50)

In [6]:
# CountVectorizer: Transforms text into a sparse matrix of n-gram counts.
from sklearn.feature_extraction.text import CountVectorizer

v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
# TfidfVectorizer: Performs the TF-IDF transformation from a provided matrix of counts.
from sklearn.feature_extraction.text import TfidfVectorizer

v = TfidfVectorizer(stop_words='english', use_idf=True, ngram_range=(1, 3))
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

#### TF-IDF focuses on the frequency of words present in the corpus but also provides the importance of the words.

In [7]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X_train_count, y_train)

MultinomialNB()

In [ ]:
print(X_train[2], ' -> ', y_train[2])

In [ ]:
print(X_train[60], ' -> ', y_train[60])

In [ ]:
emails = [
    X_train[2], X_train[60]
]
emails_count = v.transform(emails)
model.predict(emails_count)

In [8]:
# with CountVectorizer
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9798994974874372

In [ ]:
# with TfidfVectorizer
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

## Pipeline form (for countvectorizer)

In [ ]:
from sklearn.pipeline import Pipeline

method2 = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('naive_bayes', MultinomialNB())
])

In [ ]:
method2.fit(X_train, y_train)

In [ ]:
method2.score(X_test, y_test)

In [ ]:
#confusion matrix (spam olmayanı spame attırmama gibi- score)
#tf

def confMatrix(y_test, y_pred):
    cm = confusion_matrix(y_test, y_pred)
    cm_df = pd.DataFrame(
        cm,
        index = [1, 2, 3],  # The values of Customer_Segment are 1, 2, and 3 #3 kategori için
        columns = [1, 2, 3])
    
    sns.heatmap(cm_df, annot=True)
    plt.title('Confusion Matrix')
    plt.ylabel('Actal Values')
    plt.xlabel('Predicted Values')
    plt.show()